@using BookReservationSystem.Models
@model LoginViewModel
@{
    ViewBag.Title = "图书管理";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render( "~/Content/BootstrapCSS" )
    @Styles.Render( "~/Content/Signin.css" )



</head>

<body>

    <div class="container">

        

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/ie10-viewport-bug-workaround.js.js"></script>
    @Scripts.Render( "~/bundles/bootstrap" )
</body>
</html>
